[package]
name = "live-view"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
askama = { version = "0.12.0"}
askama_axum = "0.3.0"
axum = "0.6.20"
tokio = { version = "1.29.1", features = ["full"] }
