<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.9.4"
        integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        const clearTextEventListener = htmx.on("htmx:wsAfterMessage", (e) => {
            let form = document.getElementById("form");
            form.reset();
        });
    </script>
    <style>
        .hide-scroll::-webkit-scrollbar {
            display: none
        }

        .hide-scroll {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
    </style>
</head>

<body class="bg-gray-900 text-white">
    
    <div class="grid grid-cols-2">
        <div class="flex h-screen">
            <div class="overflow-auto hide-scroll h-100 position-fixed">
                {% for room in rooms %}
                <a href="/chat/{{ room.id }}">
                    <img class="w-12 h-12 bg-gray-600 rounded-full mb-2 scale-down" 
                        {% match room.image_path %}
                            {% when Some with (val) %}
                                src="/{{ crate::IMAGE_DIR }}/{{val}}"
                            {% when None %}
                        {% endmatch %}>
                </a>
                {% endfor %}
            </div>
        <div class="flex h-screen">
            <div class="overflow-auto hide-scroll h-100">
                    {% block content %}
                    {% endblock %}
            </div>
        </div>
    </div>
</body>
    
</html>