{% extends "base.html" %}

{% block content %}
    <div hx-ext="ws" ws-connect="/ws/{{ room_id }}">
        <div class="fixed w-full top-0 left-12 pr-12 bg-gray-800 h-10">
            <div class="flex justify-end items-center">
                <button class="flex-none w-fit bg-blue-500 text-white rounded-md hover:bg-blue-600 p-2" hx-get="/invite"
                    hx-target="body" hx-swap="beforeend">
                    Invite users
                </button>
            </div>
        </div>
        <div id="content" class="w-full flex-col grow p-4 pb-[72px]">
            {% for msg in msgs %}
            <div class="bg-gray-700 rounded-lg py-2 px-3 mb-2 max-w-fit">{{msg}}</div>
            {% endfor %}
            <!-- <div class="flex justify-end">
                <div class="bg-gray-700 text-white rounded-lg py-2 px-3 mb-2 max-w-fit right-0">not me!</div>
            </div> -->
        </div>
        <footer class="w-full fixed bottom-0 pr-12">
            <form class="flex bg-gray-800 p-4 gap-x-2" ws-send id="form">
                <input type="hidden" value="{{ room_id }}" name="room_id">
                <input type="text" class="grow p-2 bg-gray-700 rounded-md focus:outline-none"
                    name="chat_message" placeholder="Send a message" id="chat_input">
                <button class="flex-none w-fit bg-blue-500 text-white rounded-md hover:bg-blue-600 p-2"
                    type="submit">Send</button>
            </form>
        </footer>
    </div>
{% endblock %}