<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-slate-900">
    <div id="chat_room" class="flex h-screen" hx-trigger="every 1s" hx-get="/chat" hx-swap="#content"> 
        <div id="content" class="m-auto shadow-md bg-slate-50 p-5"> Hello World! </div>
    </div>
</body>
</html>