<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.9.4"
        integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        const clearTextEventListener = htmx.on("htmx:wsAfterMessage", (e) => {
            let form = document.getElementById("form");
            form.reset();
        });

        const closeModal = () => {
            document.getElementById("modal").remove();
        }
    </script>
    <style>
        .hide-scroll::-webkit-scrollbar {
            display: none
        }

        .hide-scroll {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        .z-negative {
            z-index: -1;
        }
    </style>
</head>

<div id="modal"
    class="fixed top-0 left-0 right-0 bottom-0 bg-gray-900 bg-opacity-75 z-1000 flex flex col items-center w-full">
    <div class="z-negative absolute top-0 left-0 right-0 bottom-0" onclick="closeModal()"></div>
    <div class="w-fit mx-auto">
        <input type="search" name="search" hx-post="/search" hx-trigger="keyup changed delay:200ms, search"
            hx-target="#search-results"
            class="mt-1 p-2 w-full border border-gray-600 rounded-md bg-gray-700 text-white">
        <table>
            <tbody id="search-results">
            </tbody>
        </table>
    </div>
</div>