<div id="modal" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-950 bg-opacity-75 transition-opacity"></div>
    <div class="fixed inset-0 z-10 flex items-center justify-center h-screen">
        <div class="w-fit"> 
            <form hx-post="/room" enctype="multipart/form-data">
                <div class="mb-4">
                    <label for="name" class="block text-sm font-medium text-gray-300">Room name</label>
                    <input type="text" id="email" name="name"
                        class="mt-1 p-2 w-full border border-gray-600 rounded-md bg-gray-700 text-white" required>
                </div>
                <div class="mb-4">
                    <label for="image" class="block text-sm font-medium text-gray-300">Upload image</label>
                    <input type="file" name="image"
                        class="mt-1 p-2 w-full border border-gray-600 rounded-md bg-gray-700 text-white" required>
                </div>
                <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600">Create new room</button>
                <div class="mt-2 text-sm text-red-500">
                    <span id="error-msg"></span>
                </div>
            </form>
        </div>
    </div> 
</div>